@use "../abstracts/" as core;

.abono {
    padding: 4rem 2rem;
    background-color: core.color("gris-fondo");

    .section__heading {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: core.font-size("4xl");
            color: core.color("negro");

            @include core.media("mobile") {
                font-size: core.font-size("2xl");
            }
        }

        p {
            font-size: core.font-size("xl");
            color: core.color("gris-medio");
            margin-top: 0.8rem;

            @include core.media("mobile") {
                font-size: core.font-size("sm");
            }
        }
    }

    @include core.media("mobile") {
        padding: 3rem 1.5rem;
    }
}